{% extends 'diagrams/base.html' %}
{% block content %}





<div align="center">

    <h1> The Business cycle </h1>





    <div style="height: 800px; width: 600px;">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js"
            integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>


        <canvas id="myChart" width="400" height="400"></canvas>
        <script>

            document.addEventListener('DOMContentLoaded', function () {
                var ctx = document.getElementById('myChart').getContext('2d');

                var xMin = -0.4;
                var xMax = 26.5;
                var step = 0.1;
                var yMin = -3;
                var yMax = 7;



                function setDataLabel(datapoint) {
                    if (datapoint <= 15) {
                        return 'Smoke';
                    }
                    else {
                        return 'Drink';
                    }
                }


                // Function to calculate y values 
                function computeYValues(radius, xValues) {
                    var yValues = [];
                    for (var x of xValues) {
                        yValues.push(Math.sin(x) + x / 10 + 0.6);
                    }
                    return yValues;
                }

                // Initial values
                var xValues = [];
                for (var x = xMin; x <= xMax; x += step) {
                    xValues.push(x);
                }
                var initialRadius = 1.5;
                var yValues = computeYValues(initialRadius, xValues);

                var chart = new Chart(ctx, {
                    type: 'line',

                    data: {
                        labels: xValues,
                        datasets: [{
                            pointRadius: 0,
                            // label: setDataLabel(x),
                            label: 'Business cycle',
                            data: yValues,
                            fill: false,
                            borderColor: 'rgb(106, 143, 241)',
                            tension: 0.1
                        },

                        {
                            label: 'Long term trend line',
                            data: [[-1, 0.5], [27, 3.2]],
                            borderColor: 'red',
                        },
                        {
                            pointRadius: 0,
                            data: [[8, 2.4]],
                            label: 'Peak'
                        },
                        {
                            pointRadius: 0,
                            data: [[6, 0.7]],
                            label: 'Growth'
                        },
                        {
                            pointRadius: 0,
                            data: [[9.5, 0.9]],
                            label: 'Recession'
                        },
                        {
                            pointRadius: 0,
                            data: [[11, 0.2]],
                            label: 'Trough'
                        },
                        {
                            pointRadius: 0,
                            data: [[21, 2.8]],
                            label: 'Long term trend (red)'
                        },
                        

                        ]
                    },
                    options: {

                        plugins: {
                            datalabels: {
                                
                                formatter: function (value, context) {
                                    
                                    var lab = context.dataset.label;
                                    var ind = context.dataIndex;
                                    if (lab != 'Business cycle' && lab != 'Long term trend line') {
                                        return context.dataset.label || ''; 
                                    }
                                    else {
                                        return ''
                                    }
                                },
                                anchor: 'end',
                                align: 'top',
                                color: "#202020",
                                offset: 2,
                                font: {
                                    size: '16px',
                                    weight: 'bold'
                                }
                            },
                            legend: {
                                display: false 
                            }
                        },

                        legend: {
                            position: 'bottom',
                            align: 'start'
                        },
                        scales: {
                        x: {
                            type: 'linear',
                            position: 'bottom',
                            min: xMin,
                            max: xMax,
                            ticks: {
                                display: false
                            },
                            title: {
                                display: true,
                                
                                text: 'Time',
                                font: {
                                    size: 16
                                },
                            }
                        },
                        y: {
                            type: 'linear',
                            position: 'bottom',
                            min: yMin,
                            max: yMax,
                            ticks: {
                                display: false
                            },
                            title: {
                                display: true,
                                padding: { bottom: 20 },
                                text: 'Economic activity',
                                font: {
                                    size: 16
                                },
                            }
                        }

                    },

                        animation: {
                            duration: 300,  // duration in milliseconds
                        },
                    },
                    plugins: [ChartDataLabels]
                    // plugins: {
                    //     datalabels: {
                    //         // color: 'black', // label text color
                    //         // anchor: 'end', // label anchor position
                    //         // align: 'top', // label alignment
                    //         // offset: 4, // offset from data point
                    //         // display: true, // display data labels

                    //     },
                    // }

                });
            });

        </script>

    </div>

    {% endblock %}