{% extends 'diagrams/base.html' %}
{% block content %}





<div align="center">

    <h1> Inflation (two types) </h1>

    <select id="inflation-type">
        <option value="1">Cost-push inflation</option>
        <option value="2">Demand-pull inflation</option>
        <option value="3">Price stability (very rare)</option>
    </select>



    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js"
        integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <div style="height: 600px; width: 600px;">
        <canvas id="myChart" width="400" height="400"></canvas>

        <script>
            var typeSelector = document.getElementById('inflation-type'); // 1 = demand-pull    2 = cost-push


            var ctx = document.getElementById('myChart').getContext('2d');

        
            function generateDataSupply(k) {
                var data = [];
                for (var x = -9; x <= 9; x += 1) {
                    data.push({ x: x, y: x - k });
                }
                return data;
            }
            function generateDataDemand(b) {
                var data = [];
                for (var x = -9; x <= 9; x += 1) {
                    data.push({ x: x, y: -x - b });
                }
                return data;
            }

            var initialType = parseFloat(document.getElementById('inflation-type').value);

            var chart = new Chart(ctx, {
                type: 'line',
                data: {
                    datasets: [{
                        pointRadius: 0,
                        label: 'AS2',
                        data: generateDataSupply(-6),
                        fill: false,
                        borderColor: 'red',
                    },

                    {
                        pointRadius: 0,
                        label: '',
                        data: generateDataDemand(0),
                        fill: false,
                        borderColor: 'blue',
                    },
                    {
                        pointRadius: 0,
                        label: 'LRAS',
                        data: [[0, -10], [0,9], [0, 10]],
                        fill: false,
                        borderColor: 'darkorange',
                    },
                    {
                        pointRadius: 0,
                        label: 'AS1',
                        data: generateDataSupply(0),
                        fill: false,
                        borderColor: 'red',
                    },
                    {
                        pointRadius: 0,
                        label: 'AD1',
                        data: generateDataDemand(0),
                        fill: false,
                        borderColor: 'blue',
                    },
                    {
                        data: [[-3,3], [-3,-10]],
                        borderDash: [10,10],
                        borderColor: 'black', 
                        label: 'Y2',
                    },
                    {
                        data: [[-3,3], [-10,3]],
                        borderDash: [10,10],
                        borderColor: 'black', 
                        label: 'P2',
                    },
                    {
                        data: [[0,0], [-10, 0]],
                        borderDash: [10,10],
                        borderColor: 'black', 
                        label: 'P1',
                    },
                    
                    ]
                },
                options: {
                    plugins: {
                        datalabels: {

                            formatter: function (value, context) {
                            
                                var lab = context.dataset.label;
                                var ind = context.dataIndex;

                                if (ind === 18 && lab === 'AS1') {
                                    return context.dataset.label || '';
                                }
                                if (ind === 18 && lab === 'AD1') {
                                    return context.dataset.label || '';
                                }
                                if (ind === 12 && lab === 'AS2') {
                                    return context.dataset.label || '';
                                }
                                if (ind === 17 && lab === 'AD2') {
                                    return context.dataset.label || '';
                                }
                                if (ind === 1 && lab === 'LRAS') {
                                    return context.dataset.label || '';
                                }
                                if (ind === 0 && lab === 'LRAS') {
                                    return 'Y1';
                                }
                                if (ind === 1 && lab === 'P1') {
                                    return lab;
                                }
                                if (ind === 1 && lab === 'Y2') {
                                    return context.dataset.label || '';
                                }
                                if (ind === 1 && lab === 'P2') {
                                    return context.dataset.label || '';
                                }

                                else {
                                    return ''
                                }
                            },
                            anchor: 'end',
                            align: 'left',
                            color: "#202020",
                            offset: 5,
                            font: {
                                weight: 'bold',
                                size: '16px'
                            }
                        },
                        legend: {
                            display: false
                        }
                    },

                    scales: {
                        x: {
                            type: 'linear',
                            position: 'bottom',
                            min: -10,
                            max: 10,
                            ticks: {
                                display: false
                            },
                            title: {
                                display: true,
                                text: 'Real GDP',
                                font: {
                                    size: 16
                                },
                            }
                        },
                        y: {
                            type: 'linear',
                            position: 'bottom',
                            min: -10,
                            max: 10,
                            ticks: {
                                display: false
                            },
                            title: {
                                
                                display: true,
                                text: 'Price level',
                                padding: { bottom: 20 },
                                font: {
                                    size: 16
                                },
                            }
                        }

                    }

                },
                plugins: [ChartDataLabels]

            });

            // Update graph when sliders change
            function updateChart() {
                
                var contentDiv = document.getElementById("content");

                // Demand-pull
                if (typeSelector.value == 2) {
                    chart.data.datasets[1].data = generateDataDemand(-6);
                    chart.data.datasets[0].data = generateDataSupply(0);
                    // Update text (implications)
                    contentDiv.innerHTML = "1) Unemployment ⬇️  <br /> 2) Price level ⬆️ <br /> 3) Short run economic growth ⬆️";
                    // Update projections Y2 and P2
                    chart.data.datasets[5].data = [[3,3], [3,-10]];
                    chart.data.datasets[6].data = [[3,3], [-10,3]];
                    
                    // Remove AS2 add AD2
                    chart.data.datasets[0].label = "";
                    chart.data.datasets[1].label = "AD2";

                }
                // Cost-push
                else if (typeSelector.value == 1) {
                    chart.data.datasets[1].data = generateDataDemand(0);
                    chart.data.datasets[0].data = generateDataSupply(-6);
                    chart.data.datasets[5].data = [[-3,3], [-3,-10]];
                    chart.data.datasets[6].data = [[-3,3], [-10,3]];

                    // Update text (implications)
                    contentDiv.innerHTML = "1) Unemployment ⬆️  <br /> 2) Price level ⬆️ <br /> 3) Short run economic growth ⬇️";
                    // Update projections Y2 and P2
                    chart.data.datasets[5].data = [[-3,3], [-3,-10]];
                    chart.data.datasets[6].data = [[-3,3], [-10,3]];
                    // Add AS2 remove AD2
                    chart.data.datasets[0].label = "AS2";
                    chart.data.datasets[1].label = "";

                }
                else {
                    chart.data.datasets[1].data = generateDataDemand(0);
                    chart.data.datasets[0].data = generateDataSupply(0);
                    contentDiv.innerHTML = "";
                    // Remove both AD2 AS2
                    chart.data.datasets[1].label = "";
                    chart.data.datasets[0].label = "";
                    // Update projections Y2 and P2
                    chart.data.datasets[5].data = [];
                    chart.data.datasets[6].data = [];
                }


                chart.update();

            }


            typeSelector.addEventListener('change', updateChart);



        </script>

    </div>
    <!-- Dynamic text (inflation results) -->
    <div id="content" style="font-size: 24px; text-align: left; margin: 5px;">
        1) Unemployment ⬆️ <br /> 2) Price level ⬆️ <br /> 3) Short run economic growth ⬇️
    </div>

</div>



{% endblock %}