{% extends 'diagrams/base.html'  %}
{% block content %}





<div align="center">

        <h1> Inflation (two types) </h1>

        <select id="inflation-type">
            <option value="1">Cost-push inflation</option>
            <option value="2">Demand-pull inflation</option>
            <option value="3">Price stability (very rare)</option>
        </select>



        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        

        

        

        <div style="height: 800px; width: 600px;">
        <canvas id="myChart" width="400" height="400"></canvas>

        <script>
    var typeSelector = document.getElementById('inflation-type'); // 1 = demand-pull    2 = cost-push
    
   
    var ctx = document.getElementById('myChart').getContext('2d');

    // Create a function to generate y-values based on current k and b
    function generateDataSupply(k) {
        var data = [];
        for(var x = -9; x <= 9; x+=1) {
            data.push({x: x, y: x-k});
        }
        return data;
    }
    function generateDataDemand(b) {
        var data = [];
        for(var x = -9; x <= 9; x+=1) {
            data.push({x: x, y: -x-b});
        }
        return data;
    }

    var initialType = parseFloat(document.getElementById('inflation-type').value);

    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            datasets: [{
                pointRadius: 0,
                label: 'Aggregate supply 2',
                data: generateDataSupply(-6),
                fill: false,
                borderColor: 'red',
            },
            
            {
                pointRadius: 0,
                label: 'Aggregate demand 2',
                data: generateDataDemand(0),
                fill: false,
                borderColor: 'blue',
            },
            {
                pointRadius: 0,
                label: 'LRAS',
                data: [[0, -10], [0, 10]],
                fill: false,
                borderColor: 'orange',
            },
            {
                pointRadius: 0,
                label: 'Aggregate supply 1',
                data: generateDataSupply(0),
                fill: false,
                borderColor: 'darkred',
            },
            {
                pointRadius: 0,
                label: 'Aggregate demand 1',
                data: generateDataDemand(0),
                fill: false,
                borderColor: 'darkblue',
            },
        ]
        },
        options: {

            scales: {
                x: {
                        type: 'linear',
                        position: 'bottom',
                        min: -10,
                        max: 10,
                   },
                y: {
                        type: 'linear',
                        position: 'bottom',
                        min: -10,
                        max: 10,
                   }

            }

        }
    });

    // Update chart when sliders change
    function updateChart() {
        
        if (typeSelector.value == 2) {
            chart.data.datasets[1].data = generateDataDemand(-6);
            chart.data.datasets[0].data = generateDataSupply(0);
        } 
        else if (typeSelector.value == 1) {
            chart.data.datasets[1].data = generateDataDemand(0);
            chart.data.datasets[0].data = generateDataSupply(-6);
        }
        else {
            chart.data.datasets[1].data = generateDataDemand(0);
            chart.data.datasets[0].data = generateDataSupply(0);
        }

        chart.update();

    }

    
    typeSelector.addEventListener('change', updateChart); 



</script>

        </div>
</div>


{% endblock %}