{% extends 'diagrams/base.html'  %}
{% block content %}




<div align = "center">
        <h1>Keynesian perspective</h1>


        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js"
            integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        

       

        <div style="height: 800px; width: 600px;">
        <canvas id="myChart" width="400" height="400"></canvas>

        Another important point that the classical economists made is that the full employment level of output Y fe corresponds to the natural rate of unemployment, as at the long-run equilibrium only the natural rate of unemployment exists.
        <script>
   
    var ctx = document.getElementById('myChart').getContext('2d');

   
    function generateDataSupply(k) {
        var data = [];
        for(var x = -10; x <= 4; x+=0.1) {
            data.push({x: x, y: 0});
        }
        for(var x = 4; x <= 5; x+=0.1) {
            data.push({x: x, y: (x-4)**2});
        }
        for(var x = 5; x <= 10; x+=0.1) {
            data.push({x: 5, y: x});
        }
        return data;
    }
    function generateDataDemand(b) {
        var data = [];
        for(var x = -10; x <= 10; x+=0.1) {
            data.push({x: x, y: -x-b});
        }
        return data;
    }

    

    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            datasets: [{
                pointRadius: 0,
                label: 'AS',
                data: generateDataSupply(0),
                fill: false,
                borderColor: 'red',
            },
            {
                pointRadius: 0,
                label: 'AD1',
                data: [[-6, 4], [0, -6]],
                fill: false,
                borderColor: 'blue',
            },
            {
                pointRadius: 0,
                label: 'AD2',
                data: [[2.5, 4], [8.5, -6]],
                fill: false,
                borderColor: 'blue',
            },
            {
                pointRadius: 0,
                label: 'AD3',
                data: [[2.5, 9], [8.5, -1]],
                fill: false,
                borderColor: 'blue',
            },
            {
                pointRadius: 0,
                data: [[-3.6, 0], [-3.6, -10]],
                borderColor: 'black',
                label: 'Y1',
                borderDash: [10, 10],
            },
            {
                pointRadius: 0,
                data: [[4.6, 0.36], [4.6, -10]],
                borderColor: 'black',
                // label: 'Y2',
                borderDash: [10, 10],
            },
            {
                pointRadius: 0,
                data: [[4.6, 0.36], [-10, 0.36]],
                borderColor: 'black',
                // label: 'P2',
                borderDash: [10, 10],
            },
            {
                pointRadius: 0,
                data: [[5, 4.8], [-10, 4.8]],
                borderColor: 'black',
                // label: 'P3',
                borderDash: [10, 10],
            },
            {
                pointRadius: 0,
                data: [[5, 1], [5, -10]],
                borderColor: 'black',
                label: 'Yfe',
                borderDash: [10, 10],
            },
            
            {
                pointRadius: 0,
                data: [[3.2, -10]],
                label: 'Y2',
            },
            {
                pointRadius: 0,
                data: [[-11.2, 4.8]],
                label: 'P3',
            },
            {
                pointRadius: 0,
                data: [[-11.2, 0.5]],
                label: 'P2',
            },
            {
                pointRadius: 0,
                data: [[-11.2, -0.3]],
                label: 'P1',
            }

            ]
        },
        options: {
            plugins: {
                        datalabels: {

                            formatter: function (value, context) {
                                var lab = context.dataset.label;
                                var ind = context.dataIndex;
                                if ((lab == 'Y1' || lab == 'Yfe' || lab == 'AD1' || lab == 'AD2' || lab == 'AD3') && ind == 1) {
                                    return context.dataset.label || '';
                                }
                                if ((lab == 'P2' || lab == 'P1' || lab == 'P3')  && ind == 0) {
                                    align: 'left'
                                    return context.dataset.label || '';
                                }
                                if (lab == 'AS' && ind == 190) {
                                    return context.dataset.label || '';
                                }
                                if (lab == 'Y2' && ind == 0) {
                                    return lab;
                                }
                                else {
                                    return '';
                                }
                                
                            },
                            anchor: 'end',
                            align: 'right',
                            offset: 5,
                            font: {
                                weight: 'bold',
                                size: '16px'
                            }
                        },
                        legend: {
                            display: false
                        },
                    },

                    scales: {
                        x: {
                            type: 'linear',
                            position: 'bottom',
                            min: -10,
                            max: 10,
                            ticks: {
                                display: false
                            },
                            title: {
                                display: true,
                                
                                text: 'Real GDP',
                                font: {
                                    size: 16
                                },
                            }
                        },
                        y: {
                            type: 'linear',
                            position: 'bottom',
                            min: -10,
                            max: 10,
                            ticks: {
                                display: false
                            },
                            title: {
                                display: true,
                                padding: { bottom: 20 },
                                text: 'Price level',
                                font: {
                                    size: 16
                                },
                            }
                        }

                    }

        },
        plugins: [ChartDataLabels]
    });



    
   
</script>

        </div>
</div>

{% endblock %}