{% extends "diagrams/base.html" %}
{% block content %}


<h1>{{ quiz.title }}</h1>
<p>{{ quiz.description }}</p>

<ol>
    {% for question in questions %}
      <li>{{ question.text }}</li>
      <ul>
        {% for choice in question.choices.all %}
          <li>{{ choice.text }}{% if choice.is_correct %} (Correct Answer){% endif %}</li>
        {% endfor %}
      </ul>
    {% empty %}
      <p>No questions available for this quiz.</p>
    {% endfor %}
  </ol>



{% endblock %}