{% extends 'diagrams/base.html'  %}
{% block content %}



<div class="box-bg" align = "center">
        <h1 style="color: #383838" class="text-glow"><b>PeekOnEcon<br>The art of understanding</b></h1><h1 style="color: #9F2B68;" class="text-glow"><b>Economics</b></h1>
<!-- #5D3FD3 -->

        <h2 style="border-radius: 10px; background-color: #F3F3F3; 
        width: 60%; text-align: left; padding: 10px; margin: 20px;">Economics is a social science that focuces on human behaviour and decision making in the context of scarce resources. The theory delves into numerous market mechanisms and applies on the real world scenarios. Our goal is to help students from all around the world understand main concepts and recognize the beauty of economics.</h2>



</div>



{% endblock %}