/* @import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
    /* background-color: rgb(209, 10, 10); */
    /* font-size: 100%;/ */
    /* font-family: Copperplate, Papyrus, fantasy; */
    /* font-family: 'ADLaM Display', cursive; */
    font-family: 'Montserrat', sans-serif;
   }


body {
    background-color: #F8F9F9;
}

.container {
    display: flex;
    justify-content: center; /* Horizontally center the children */
    align-items: center; /* Vertically center the children */
    height: 10vh; /* Make the container full height of the viewport */
    gap: 20px;
}
  


.button-diagrams {
    /* Button dimensions and display */
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
  
    /* Typography */
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  
    /* Background and border */
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  
    /* Transition for smoothness */
    transition: all 0.3s ease 0s;
    cursor: pointer;
  }


  .button-quizzes {
    /* Button dimensions and display */
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
  
    /* Typography */
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  
    /* Background and border */
    background-color: #bddaed;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  
    /* Transition for smoothness */
    transition: all 0.3s ease 0s;
    cursor: pointer;
  }
  
  .button-diagrams:hover{
    /* Hover state */
    background-color: #2979ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
   .button-quizzes:hover {
    /* Hover state */
    background-color: #a877d2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .button-diagrams:active,.button-quizzes:active{
    /* Active state */
    background-color: #005ecb;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
  }
  