{% extends 'diagrams/base.html' %}
{% block content %}




<div align="center">
    <h1> Free trade </h1>


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js"
        integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <div style="height: 800px; width: 600px;">
        <canvas id="myChart" width="400" height="400"></canvas>

        <script>
            var kSlider = document.getElementById('k-slider');

            var kValueLabel = document.getElementById('k-value');

            var ctx = document.getElementById('myChart').getContext('2d');

            function generateDataSupply(k) {
                var data = [];
                for (var x = -10; x <= 10; x += 1) {
                    data.push({ x: x, y: x - k });
                }
                return data;
            }
            function generateDataDemand(b) {
                var data = [];
                for (var x = -10; x <= 10; x += 1) {
                    data.push({ x: x, y: -x - b });
                }
                return data;
            }

            var chart = new Chart(ctx, {
                type: 'line',
                data: {
                    datasets: [{
                        pointRadius: 0,
                        label: 'S domestic',
                        data: generateDataSupply(0),
                        fill: false,
                        borderColor: 'blue',
                    },
                    {
                        pointRadius: 0,
                        label: 'D domestic',
                        data: generateDataDemand(0),
                        fill: false,
                        borderColor: 'red',
                    },
                    {
                        label: 'supply world',
                        data: [[-10, -6], [10, -6]],
                        fill: false,
                        borderColor: 'orange',

                    },
                    // Middle Projections on y and x
                    {
                        type: 'line',
                        data: [[-10, 0], [0, 0]],
                        borderColor: 'black',
                        label: 'Pe',
                        borderDash: [10, 10],
                    },
                    {
                        type: 'line',
                        data: [[0, -10], [0, 0]],
                        borderColor: 'black',
                        label: 'Qe',
                        borderDash: [10, 10],

                    },
                    // S world projections
                    {
                        type: 'line',
                        data: [[6, -6,], [6, -10]],
                        borderColor: 'black',
                        label: 'Q2',
                        borderDash: [10, 10],
                    },
                    {
                        type: 'line',
                        data: [[-6, -6,], [-6, -10]],
                        borderColor: 'black',
                        label: 'Q1',
                        borderDash: [10, 10],

                    },
                    {
                        pointRadius: 0,
                        data: [[10, -5.5]],
                        label: 'S world',
                    }

                    ]
                },
                options: {
                    plugins: {
                        datalabels: {

                            formatter: function (value, context) {
                                var lab = context.dataset.label;
                                var ind = context.dataIndex;
                                if (lab == 'S world') {
                                    return lab;
                                }
                                if ((lab == 'Qe' || lab == 'Pe') && ind == 0) {
                                    return lab;
                                }
                                if ((lab == 'Qe' || lab == 'Pe') && ind == 0) {
                                    return lab;
                                }
                                if ((lab == 'Q1' || lab == 'Q2') && ind == 1) {
                                    return lab;
                                }
                                if (lab == 'D domestic' && ind == 20) {
                                    return lab;
                                }
                                if (lab == 'S domestic' && ind == 19) {
                                    return lab;
                                }

                                else {
                                    return '';
                                }
                            },
                            anchor: 'end',
                            align: 'left',
                            color: "#202020",
                            offset: 5,
                            font: {
                                weight: 'bold',
                                size: '16px'
                            }
                        },
                        legend: {
                            display: false
                        },
                    },
                    scales: {
                        x: {
                            type: 'linear',
                            position: 'bottom',
                            min: -10,
                            max: 10,
                            ticks: {
                                display: false
                            },
                            title: {
                                display: true,

                                text: 'Quantity',
                                font: {
                                    size: 16
                                },
                            }
                        },
                        y: {
                            type: 'linear',
                            position: 'bottom',
                            min: -10,
                            max: 10,
                            ticks: {
                                display: false
                            },
                            title: {
                                display: true,
                                padding: { bottom: 20 },
                                text: 'Price',
                                font: {
                                    size: 16
                                },
                            }
                        }

                    }


                },
                plugins: [ChartDataLabels]

            });

        </script>

    </div>
</div>

{% endblock %}