{% extends 'diagrams/base.html'  %}
{% block content %}




<div align = "center">
        <h1> Demand and Supply </h1>


        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js"
            integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        

        <input type="range" id="k-slider" min="-10" max="10" step="0.1" value="0">
        <label for="k-slider">Shift in supply <span id="k-value">0</span></label>

        <input type="range" id="b-slider" min="-10" max="10" step="0.1" value="0">
        <label for="b-slider">Shift in demand<span id="b-value">0</span></label>

        <br>
        <button id="resetButton">Reset values</button>

        <div style="height: 800px; width: 600px;">
        <canvas id="myChart" width="400" height="400"></canvas>

        <script>
    var kSlider = document.getElementById('k-slider');
    var bSlider = document.getElementById('b-slider');
    var kValueLabel = document.getElementById('k-value');
    var bValueLabel = document.getElementById('b-value');
    var ctx = document.getElementById('myChart').getContext('2d');

    // Create a function to generate y-values based on current k and b
    function generateDataSupply(k) {
        var data = [];
        for(var x = -10; x <= 10; x+=0.1) {
            data.push({x: x, y: x-k});
        }
        return data;
    }
    function generateDataDemand(b) {
        var data = [];
        for(var x = -10; x <= 10; x+=0.1) {
            data.push({x: x, y: -x-b});
        }
        return data;
    }

    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            datasets: [{
                pointRadius: 0,
                label: 'supply',
                data: generateDataSupply(parseFloat(kSlider.value)),
                fill: false,
                borderColor: 'blue',
            },
            {
                pointRadius: 0,
                label: 'demand',
                data: generateDataDemand(parseFloat(bSlider.value)),
                fill: false,
                borderColor: 'red',
            }    
        ]
        },
        options: {
            plugins: {
                            datalabels: {
                                formatter: function (value, context) {
                                    // Display the label only for the first data point
                                    if (context.dataIndex === 40 && context.dataset.label === 'demand') {
                                        return context.dataset.label || '';
                                    } else if (context.dataIndex == 40 && context.dataset.label === 'supply') {
                                        return context.dataset.label || '';
                                    }
                                    else {
                                        return ''
                                    }
                                },
                                anchor: 'end',
                                align: 'top',
                                offset: 8,
                                font: {
                                    weight: 'bold'
                                }
                            }
                        },

            scales: {
                x: {
                        type: 'linear',
                        position: 'bottom',
                        min: -10,
                        max: 10,
                   },
                y: {
                        type: 'linear',
                        position: 'bottom',
                        min: -10,
                        max: 10,
                   }

            }

        },
        plugins: [ChartDataLabels]
    });

    // Update chart when sliders change
    function updateChart() {
        kValueLabel.textContent = kSlider.value;
        bValueLabel.textContent = bSlider.value;

        chart.data.datasets[0].data = generateDataSupply(parseFloat(kSlider.value));
        chart.data.datasets[1].data = generateDataDemand(parseFloat(bSlider.value));
        chart.update();

    }

    kSlider.addEventListener('input', updateChart);
    bSlider.addEventListener('input', updateChart);
    document.getElementById('resetButton').addEventListener('click', function() {
        document.getElementById('k-slider').value = 0; 
        document.getElementById('b-slider').value = 0;
        chart.data.datasets[0].data = generateDataSupply(parseFloat(kSlider.value));
        chart.data.datasets[1].data = generateDataDemand(parseFloat(bSlider.value));
        chart.update();
});
</script>

        </div>
</div>

{% endblock %}