{% extends 'diagrams/base.html' %}
{% block content %}




<div align="center">
    <h1> Demand and Supply </h1>


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js"
        integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>




    <select id="demandSelector">
        <option value="0">Select Demand Shifter</option>
        <option value="5">Tastes/Preferences +</option>
        <option value="-5">Tastes/Preferences -</option>
        <option value="5">Number of Consumers +</option>
        <option value="-5">Number of Consumers -</option>
        <option value="-5">Price of Compliments +</option>
        <option value="5">Price of Compliments -</option>
        <option value="5">Price of Substitutes +</option>
        <option value="-5">Price of Substitutes -</option>
        <option value="5">Income +</option>
        <option value="-5">Income -</option>
        <option value="5">Expectations +</option>
        <option value="-5">Expectations -</option>

    </select>


    <select id="supplySelector">
        <option value="0">Select Supply Shifter</option>
        <option value="-5">Price of Resources +</option>
        <option value="5">Price of Resources -</option>
        <option value="5">Number of Producers +</option>
        <option value="-5">Number of Producers -</option>
        <option value="5">Technology +</option>
        <option value="-5">Technology -</option>
        <option value="-5">Taxes +</option>
        <option value="5">Taxes -</option>
        <option value="5">Subsidies +</option>
        <option value="-5">Subsidies -</option>
        <option value="5">Expectations +</option>
        <option value="-5">Expectations -</option>

    </select>


    <br>
    <button id="resetButton">Reset values</button>

    <div style="height: 800px; width: 600px;">
        <canvas id="myChart" width="400" height="400"></canvas>

        <script>
            var initialSupply = parseFloat(document.getElementById('supplySelector').value);
            var initialDemand = parseFloat(document.getElementById('demandSelector').value);
            var ctx = document.getElementById('myChart').getContext('2d');

            // Create a function to generate y-values based on current k and b
            function generateDataSupply(k) {
                var data = [];
                for (var x = -10; x <= 10; x += 1) {
                    data.push({ x: x, y: x - k });
                }
                return data;
            }
            function generateDataDemand(b) {
                var data = [];
                for (var x = -10; x <= 10; x += 1) {
                    data.push({ x: x, y: -x + b });
                }
                return data;
            }

            var chart = new Chart(ctx, {
                type: 'line',
                data: {
                    datasets: [
                    // Dynamic supply
                    {
                        pointRadius: 0,
                        label: '',
                        data: generateDataSupply(initialSupply),
                        fill: false,
                        borderColor: 'blue',
                    },
                    // Dynamic demand
                    {
                        pointRadius: 0,
                        label: '',
                        data: generateDataDemand(initialDemand),
                        fill: false,
                        borderColor: 'red',
                    },
                    // Static supply
                    {
                        pointRadius: 0,
                        label: 'S1',
                        data: generateDataSupply(initialSupply),
                        fill: false,
                        borderColor: 'blue',
                    },
                    // static demand
                    {
                        pointRadius: 0,
                        label: 'D1',
                        data: generateDataDemand(initialDemand),
                        fill: false,
                        borderColor: 'red',
                    },
                    {
                        type: 'line',
                        data: [[0, 0], [0, -10]],
                        label: 'projX',
                        borderColor: 'black',
                        borderDash: [10, 10],
                    },
                    {
                        type: 'line',
                        data: [[0, 0], [-10, 0]],
                        label: 'projY',
                        borderColor: 'black',
                        borderDash: [10, 10],
                    },
                    ]
                },
                options: {
                    plugins: {
                        datalabels: {

                            formatter: function (value, context) {
                                // Display the label only for the first data point
                                if (context.dataIndex === 18 && context.dataset.label === 'D1') {
                                    return context.dataset.label || '';
                                } 
                                else if (context.dataIndex == 18 && context.dataset.label === 'S1') {
                                    return context.dataset.label || '';
                                }
                                else if (context.dataIndex === 14 && context.dataset.label === 'D2') {
                                    return context.dataset.label || '';
                                }
                                else if (context.dataIndex === 14 && context.dataset.label === 'S2') {
                                    return context.dataset.label || '';
                                }
                                else if (context.dataIndex === 1 && context.dataset.label === 'projX') {
                                    return 'Pe';
                                }
                                else if (context.dataIndex === 1 && context.dataset.label === 'projY') {
                                    return 'Qe';
                                }
                                else {
                                    return ''
                                }
                            },
                            anchor: 'end',
                            align: 'left',
                            color: "#202020",
                            offset: 5,
                            font: {
                                weight: 'bold',
                                size: '16px'
                            }
                        },
                        legend: {
                            display: false
                        }
                    },

                    scales: {
                        x: {
                            type: 'linear',
                            position: 'bottom',
                            min: -10,
                            max: 10,
                            ticks: {
                                display: false
                            },
                        title: {
                            display: true,
                            text: 'Quantity',
                            font: {
                                    size: 16
                                },
                        }
                        },
                        y: {
                            type: 'linear',
                            position: 'bottom',
                            min: -10,
                            max: 10,
                            ticks: {
                                display: false
                            },
                        title: {
                            padding: { bottom: 20 },
                            display: true,
                            text: 'Price',
                            font: {
                                    size: 16
                                },
                        }
                        }

                    }

                },
                plugins: [ChartDataLabels]
            });

            document.getElementById('demandSelector').addEventListener('change', function (e) {
                var selectedDemand = parseFloat(e.target.value);
                chart.data.datasets[1].data = generateDataDemand(selectedDemand);   
                chart.data.datasets[1].label = 'D2';  
                if (selectedDemand === 0) {
                    chart.data.datasets[1].label = '';
                }
                chart.update();
            });
           
            
            document.getElementById('supplySelector').addEventListener('change', function (s) {
                var selectedSupply = parseFloat(s.target.value);
                chart.data.datasets[0].data = generateDataSupply(selectedSupply);
                chart.data.datasets[0].label = 'S2';
                if (selectedSupply === 0) {
                    chart.data.datasets[0].label = '';
                }
                chart.update();
            });

            document.getElementById('resetButton').addEventListener('click', function () {
                chart.data.datasets[0].label = '';
                chart.data.datasets[1].label = '';
                chart.data.datasets[0].data = generateDataSupply(initialSupply);
                chart.data.datasets[1].data = generateDataDemand(initialDemand);
                chart.update();
            });
        </script>

    </div>
</div>

{% endblock %}