{% extends 'diagrams/base.html' %}
{% block content %}




<div align="center">
    <h1> Maximum price (price ceiling) </h1>


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js"
        integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>



    <input type="range" id="k-slider" min="-8" max="-1" step="1" value="-2">
    <label for="k-slider"> Price ceiling <span id="k-value">-2</span></label>


    <br>
    <button id="resetButton">Reset values</button>

    <div style="height: 800px; width: 600px;">
        <canvas id="myChart" width="400" height="400"></canvas>

        <script>
            var kSlider = document.getElementById('k-slider');
            var kValueLabel = document.getElementById('k-value');

            var ctx = document.getElementById('myChart').getContext('2d');

            // Create a function to generate y-values based on current k and b


            var chart = new Chart(ctx, {
                type: 'line',
                data: {
                    datasets: [{
                        pointRadius: 0,
                        label: 'Supply',
                        data: [[-9, -9], [9, 9]],
                        fill: false,
                        borderColor: 'blue',
                    },
                    {
                        pointRadius: 0,
                        label: 'Demand',
                        data: [[-9, 9], [9, -9]],
                        fill: false,
                        borderColor: 'red',
                    },
                    {
                        type: 'line',
                        label: 'Price ceiling',
                        pointRadius: 0,
                        data: [[-10, -2], [10, -2]],
                        // data: [[-10, -2], [10, -2]],
                        borderColor: 'black',
                    },
                    {
                        type: 'line',
                        data: [[-2, -2,], [-2, -10]],
                        borderColor: 'black',
                        label: 'Q1',
                        borderDash: [10, 10],
                    },
                    {
                        type: 'line',
                        data: [[2, -2,], [2, -10]],
                        label: 'Q2',
                        borderColor: 'black',
                        borderDash: [10, 10],

                    },
                    // Mark helper
                    {
                        pointRadius: 0,
                        data: [[9, -1.5]],
                        label: 'Dot',
                    },
                    {
                        data: [[0, 0], [0, -10]],
                        borderColor: 'black',
                        label: 'Qe',
                        borderDash: [10, 10],
                    },
                    {
                        data: [[0, 0], [-10, 0]],
                        borderColor: 'black',
                        label: 'Pe',
                        borderDash: [10, 10],
                    }
                    ]
                },
                options: {
                    plugins: {
                        datalabels: {

                            formatter: function (value, context) {


                                var lab = context.dataset.label;
                                var ind = context.dataIndex;
                                if (context.dataIndex === 1 && context.dataset.label === 'Demand') {
                                    return context.dataset.label || '';
                                } else if (context.dataIndex == 1 && context.dataset.label === 'Supply') {
                                    return context.dataset.label || '';
                                } else if (context.dataIndex == 0 && context.dataset.label === 'Dot') {
                                    return 'Price ceiling' || '';
                                }
                                else if (ind == 0 && context.dataset.label === 'Dot') {
                                    return 'Price ceiling' || '';
                                }
                                else if (ind == 0 && context.dataset.label === 'Price ceiling') {
                                    return 'P' || '';
                                }
                                else if (ind == 1 && (lab == 'Q1' || lab == 'Q2' || lab == 'Qe' || lab == 'Pe')) {
                                return lab || '';
                                }
                                else {
                return ''
            }
                            },
            anchor: 'end',
                align: 'left',
                    offset: 5,
                        font: {
                weight: 'bold',
                    size: '16px'
            }
                        },
            legend: {
                display: false
            },
                    },
            scales: {
                x: {
                    type: 'linear',
                        position: 'bottom',
                            min: -10,
                                max: 10,
                                    ticks: {
                        display: false
                    },
                    title: {
                        display: true,
                            text: 'Quantity',
                                font: {
                            size: 16
                        },
                    }
                },
                y: {
                    type: 'linear',
                        position: 'bottom',
                            min: -10,
                                max: 10,
                                    ticks: {
                        display: false
                    },
                    title: {
                        display: true,
                        padding: { bottom: 20 },
                            text: 'Price',
                                font: {
                            size: 16
                        },
                    }
                }

            }

                },
            plugins: [ChartDataLabels]
            });

            // Update chart when sliders change
            function updateChart() {
                kValueLabel.textContent = kSlider.value;

                new_value = parseFloat(kSlider.value)
                chart.data.datasets[2].data[0][1] = new_value;
                chart.data.datasets[2].data[1][1] = new_value;

                chart.data.datasets[3].data[0][0] = new_value;
                chart.data.datasets[3].data[0][1] = new_value;
                chart.data.datasets[3].data[1][0] = new_value;

                chart.data.datasets[4].data[0][0] = -new_value;
                chart.data.datasets[4].data[0][1] = new_value;
                chart.data.datasets[4].data[1][0] = -new_value;
                chart.data.datasets[5].data[0][1] = new_value + 0.5;
                chart.update();

            }

            kSlider.addEventListener('input', updateChart);
            document.getElementById('resetButton').addEventListener('click', function () {
                document.getElementById('k-slider').value = -2;
                updateChart();
                chart.update();
            });
        </script>

    </div>
</div>

{% endblock %}