{% extends 'diagrams/base.html' %}
{% block content %}



<div align="center">
    <h1>Merit goods - positive externalities</h1>


    <select id="radiusSelector">
        <option value="1">Production</option>
        <option value="-1">Consumption</option>

    </select>

    <div style="height: 800px; width: 600px;">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js"
            integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.0.2"></script>
        <canvas id="myChart" width="400" height="400"></canvas>
        <script>

            document.addEventListener('DOMContentLoaded', function () {
                var ctx = document.getElementById('myChart').getContext('2d');

                var xMin = -4;
                var xMax = 4;
                var step = 0.1;
                var yMin = -2;
                var yMax = 6;

                function computeYValues(radius, xValues) {
                    var yValues = [];
                    for (var x of xValues) {
                        yValues.push(radius * x);
                    }
                    return yValues;
                }

                // Initial values
                var xValues = [];
                for (var x = xMin; x <= xMax; x += step) {
                    xValues.push(x);
                }
                var initialRadius = parseFloat(document.getElementById('radiusSelector').value);
                var yValues = computeYValues(initialRadius, xValues);
                if (initialRadius = 0) {
                    yValues = [5, 5, 5, 5, 5, 5]
                }

                var chart = new Chart(ctx, {
                    type: 'line',

                    data: {
                        labels: xValues,
                        datasets: [{
                            pointRadius: 0,
                            label: 'MSC',
                            data: [[-5, -5], [5, 5]],
                            fill: false,
                            borderColor: 'blue',
                            tension: 0.1
                        },
                        {
                            pointRadius: 0,
                            label: 'MPB = MSB',
                            data: [[5, -1], [-5, 9]],
                            fill: false,
                            borderColor: 'red',
                            tension: 0.1
                        },
                        {
                            pointRadius: 0,
                            label: 'MPC',
                            data: [[-5, -1], [5, 9]],
                            fill: false,
                            borderColor: 'green',
                            tension: 0.1
                        }
                        ]
                    },
                    options: {
                        plugins: {
                            datalabels: {
                                formatter: function (value, context) {


                                    if (context.dataIndex === 1) {
                                        return context.dataset.label || '';
                                    }

                                    else {
                                        return ''
                                    }
                                },
                                anchor: 'end',
                                align: 'left',
                                color: "#202020",
                                offset: 8,
                                font: {
                                    size: '16px',
                                    weight: 'bold',
                                }
                            },
                            legend: {
                                display: false
                            },

                        },
                        scales: {
                            x: {
                                type: 'linear',
                                position: 'bottom',
                                min: xMin - 5,
                                max: xMax + 5,
                                ticks: {
                                    display: false
                                },
                                title: {
                                    display: true,
                                    text: 'Quantity',
                                    font: {
                                        size: 16
                                    },
                                    padding: { top: 20, left: 0, right: 0, bottom: 0 }
                                }
                            },
                            y: {
                                min: yMin - 5,
                                max: yMax + 5,
                                ticks: {
                                    display: false
                                },
                                title: {
                                    display: true,
                                    text: 'Price',
                                    font: {
                                        size: 16
                                    },
                                    padding: { top: 20, left: 0, right: 0, bottom: 0 }
                                }
                            }
                        },

                        animation: {
                            duration: 300
                        },
                    },
                    plugins: [ChartDataLabels]
                });

                // Dropdown list change event
                document.getElementById('radiusSelector').addEventListener('change', function (e) {
                    var selectedRadius = parseFloat(e.target.value);
                    yValues = computeYValues(selectedRadius, xValues);



                

                    if (selectedRadius === -1) {
                        chart.data.datasets[0].data = [[5, -5], [-5, 5]]
                        chart.data.datasets[0].label = "MPB"
                        chart.data.datasets[2].label = "MPC = MBC"
                        chart.data.datasets[1].label = "MSB";

                    }
                    if (selectedRadius === 1) {
                        chart.data.datasets[1].label = "MPB = MSB"
                        chart.data.datasets[0].data = [[-5, -5], [5, 5]];
                        chart.data.datasets[0].label = "MSC"
                        chart.data.datasets[2].label = "MPC"

                    }





                    chart.update();
                });
            });

        </script>


    </div>

    {% endblock %}