{% extends 'diagrams/base.html'  %}
{% block content %}





<div align = "center">

<h1>Producer and consumer surplus</h1>


<!-- 
<select id="radiusSelector">
    <option value="1.5">Default PP</option>
    <option value="1">Decrease PP</option>
    <option value="2">Increase PP</option>
</select> -->

<div style="height: 800px; width: 600px;">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js"
            integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="path/to/chartjs-plugin-fill-between.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.0.2"></script>
    

    <canvas id="myChart" width="400" height="400"></canvas>
    <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    
    
    
    var xMin = 0;
    var xMax = 10;
    var xCross = 5;
    var step = 1;
    
            // Generate x and y values
    var xValues = [];
    var y1 = [];
    var y2 = [null, null, null, null, null];
    var y3 = [];
    var y4 = [null, null, null, null, null];
    var y5 = [];
    var y6 = [];



    for (var x = xMin; x <= xCross; x += step) {
        xValues.push(x);
        y1.push(4*(x-5));
        y3.push(-4*(x-5));

    }

    
    
    for (var x = xCross; x <= xMax; x += step) {
        xValues.push(x);
        y2.push(4*(x-5));
        y4.push(-4*(x-5));
        
    }

    y4.pop()
    y2.pop()


    for (var x = 0; x < 10; x+=step) {
        y5.push(0)
    } 
    
    
    
    
    
    var chart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: xValues,
        datasets: [
            {
                pointRadius: 0,
                label: 'Line 1',
                data: y1,
                borderColor: 'blue',
                fill: '+1',
                backgroundColor: 'rgba(255,193,8,0.2)'
            },
            {
                pointRadius: 0,
                label: 'Line invisible',
                data: y5,
                borderColor: 'rgba(232, 12, 23, 0)',
                fill: false,
            },
            {
                pointRadius: 0,
                label: 'Line 2',
                data: y3,
                borderColor: 'red',
                // fillColor: 'rgb(232, 12, 23)',
                fill: '-1',
                backgroundColor: 'rgba(158, 241, 147,0.2)'
            },
            {
                pointRadius: 0,
                label: 'Supply',
                data: y2,
                xMin: xCross,
                borderColor: 'blue',
                // fillColor: 'rgb(232, 12, 23)',
                fill: false
            },
            {
                pointRadius: 0,
                label: 'Demand',
                data: y4,
                xMin: xCross,
                borderColor: 'red',
                // fillColor: 'rgb(232, 12, 23)',
                fill: false
            },
            
        ]
    },
    options: {
        plugins: {
            datalabels: {
                formatter: function (value, context) {
                    // Display the label only for the first data point
            
                    if ((context.dataset.label === 'Demand' || context.dataset.label === 'Supply') && context.dataIndex == 9) {
                        return context.dataset.label || '';
                    }
                    else {
                        return ''
                    }
                },
                anchor: 'end',
                align: 'right',
                offset: 8,
                font: {
                    size: '16px',
                    weight: 'bold'
                }
            },
                        
            annotation: {
                annotations: {
                    // Vertical projection to x-axis
                    verticalLine: {
                        type: 'line',
                        xMin: 5,
                        xMax: 5,
                        yMin: -20,
                        yMax: 0,
                        mode: 'vertical',
                        value: xCross,
                        borderColor: 'grey',
                        borderWidth: 1,
                        borderDash: [10, 10],  // Make the line dotted
                        
                    },
                    // Horizontal projection to y-axis
                    horizontalLine: {
                        type: 'line',
                        xMin: 0,
                        xMax: 5,
                        yMin: 0,
                        yMax: 0,
                        mode: 'horizontal',
                        value: 0,
                        borderColor: 'grey',
                        borderWidth: 1,
                        borderDash: [10, 10],  // Make the line dotted
                    }
                }
            }
            ,
            legend: {
                display: false
            },
            fillBetween: {
                datasets: [{
                    from: 'Line 1',   // Name of the first dataset
                    to: 'Line 2',     // Name of the second dataset
                    fillColor: 'rgb(232, 200, 200)' // Shading color
                }]
            }
        }
    },
    plugins: [ChartDataLabels]
});





//     document.addEventListener('DOMContentLoaded', function() {
//     var ctx = document.getElementById('myChart').getContext('2d');

//     var xMin = 0.3;
//     var xMax = 2.2;  // Note: Adjust this if you expect larger radii
//     var step = 0.01;
//     var yMin = 0.3;
//     var yMax = 2.2;

//     // Function to calculate y values based on the selected radius
//     function computeYValues(radius, xValues) {
//         var yValues = [];
//         for (var x of xValues) {
//             yValues.push(Math.sqrt(Math.pow(radius, 2) - Math.pow(x, 2)));
//         }
//         return yValues;
//     }

//     // Initial values
//     var xValues = [];
//     for (var x = xMin; x <= xMax; x += step) {
//         xValues.push(x);
//     }
//     var initialRadius = parseFloat(document.getElementById('radiusSelector').value);
//     var yValues = computeYValues(initialRadius, xValues);

//     var chart = new Chart(ctx, {
//         type: 'line',
        
//         data: {
//             labels: xValues,
//             datasets: [{
//                 pointRadius: 0,
//                 label: 'y = sqrt(' + initialRadius + '^2 - x^2)',
//                 data: yValues,
//                 fill: false,
//                 borderColor: 'rgb(106, 143, 241)',
//                 tension: 0.1
//             }]
//         },
//         options: {
//             scales: {
//                 x: {
//                     type: 'linear',
//                     position: 'bottom',
//                     min: xMin,
//                     max: xMax
//                 },
//                 y:  {
//                     min: yMin,
//                     max: yMax,  // Adjust this if you expect larger radii
//                 }
//             },

//             animation: {
//                 duration: 300  // duration in milliseconds
//             },
//         }
//     });

//     // Dropdown change event
//     document.getElementById('radiusSelector').addEventListener('change', function(e) {
//         var selectedRadius = parseFloat(e.target.value);
//         yValues = computeYValues(selectedRadius, xValues);
        
//         chart.data.datasets[0].data = yValues;
        
//         // Update the label to reflect the radius change
//         chart.data.datasets[0].label = 'y = sqrt(' + selectedRadius + '^2 - x^2)';
        
//         chart.update();
//     });
// });

    </script>

{% endblock %}
