{% extends 'diagrams/base.html' %}
{% block content %}

<div align="center">
    <h1> Subsidy </h1>


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js"
        integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="path/to/chartjs-plugin-fill-between.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.0.2"></script>

    <input type="range" id="b-slider" min="0.2" max="6" step="0.1" value="1">
    <label for="b-slider">Set demand elasticity<span id="b-value" hidden="hidden">1</span></label>

    <br>
    <button id="resetButton">Reset values</button>

    <div style="height: 800px; width: 600px;">
        <canvas id="myChart" width="400" height="400"></canvas>

        <script>
            var bSlider = document.getElementById('b-slider');
            var bValueLabel = document.getElementById('b-value');
            var ctx = document.getElementById('myChart').getContext('2d');

            // Create a function to generate y-values based on b

            function generateDataDemand(b) {
                var data = [];
                for (var x = -10; x <= 10; x += 1) {
                    data.push({ x: x, y: -x * b });
                }
                return data;
            }
            function generateDataSupply(b = 1, k = 0) {
                var data = [];
                for (var x = -10; x <= 10; x += 1) {
                    data.push({ x: x, y: x * b + k });
                }
                return data;
            }

            function generatePointCoord() {
                // coordinate = -5/(2*parseFloat(bSlider.value));
                coordinate = -5 / (1 + parseFloat(bSlider.value));
                return coordinate;
            }

            var chart = new Chart(ctx, {
                type: 'line',
                data: {
                    datasets: [
                        {
                            pointRadius: 0,
                            label: 'Demand',
                            data: generateDataDemand(parseFloat(bSlider.value)),
                            fill: false,
                            borderColor: 'red',

                        },

                        {
                            pointRadius: 0,
                            label: 'Supply + subsidy',
                            data: generateDataSupply(),
                            fill: false,
                            borderColor: 'blue',
                        },
                        {
                            pointRadius: 0,
                            label: 'Supply',
                            data: generateDataSupply(b = 1, k = 5),
                            fill: false,
                            borderColor: 'darkblue',
                        },
                        {
                            type: 'scatter',
                            label: 'Demand meets Supply (before)',
                            data: [{
                                x: -2.5,
                                y: 2.5
                            }],
                            borderColor: 'black',
                            backgroundColor: 'black',
                            pointRadius: 5
                        },
                        {
                            type: 'scatter',
                            label: 'Producers get',
                            data: [{
                                x: 0,
                                y: 5
                            }],
                            borderColor: 'black',
                            backgroundColor: 'black',
                            pointRadius: 5
                        },
                        {
                            type: 'scatter',
                            label: 'Consumers pay',
                            data: [{
                                x: 0,
                                y: 0
                            }],
                            borderColor: 'black',
                            backgroundColor: 'black',
                            pointRadius: 5
                        },


                        // top projection 66666666
                        {
                            type: 'line',
                            data: [[-10, 5], [0, 5]],
                            borderColor: 'black',
                            label: 'Pp',
                            fill: '+1',
                            backgroundColor: 'rgba(158, 241, 147,0.4)',
                            borderDash: [10, 10]

                        },
                        // middle projection 777777777
                        {
                            type: 'line',
                            data: [[-10, 2.5], [0, 2.5]],
                            borderColor: 'black',
                            label: 'Pe',
                            borderDash: [10, 10]

                        },

                        // bottom projection (static)
                        {
                            type: 'line',
                            data: [[-10, 0], [0, 0]],
                            borderColor: 'black',
                            label: 'Pc',
                            fill: '-1',
                            backgroundColor: 'rgba(255,193,8,0.4)',
                            borderDash: [10, 10]
                        },


                        // vertical line
                        {
                            type: 'line',
                            data: [[0, 0], [0, 5]],
                            borderColor: 'black',
                            borderDash: [10, 10]
                        },

                        {
                            pointRadius: 0,
                            data: [[-4.5, 4.5]],
                            label: 'cb'
                        },

                        {
                            pointRadius: 0,
                            data: [[-4.5, 0.5]],
                            label: 'pb'
                        },
                        {
                            data: [[0, 0], [0, -10]],
                            label: 'Qs',
                            borderColor: 'black',
                            borderDash: [10, 10],
                        },
                        {
                            data: [[-2.5, 2.5], [-2.5, -10]],
                            label: 'Qe',
                            borderColor: 'black',
                            borderDash: [10, 10],
                        },



                    ]
                },
                options: {
                    plugins: {
                        datalabels: {
                            formatter: function (value, context) {
                                // Display the label only for the first data point
                                var lab = context.dataset.label;
                                var ind = context.dataIndex;


                                if (context.dataIndex === 17 && context.dataset.label == 'Supply + subsidy') {
                                    return context.dataset.label || '';
                                }
                                if (context.dataIndex === 13 && context.dataset.label == 'Supply') {
                                    return context.dataset.label || '';
                                }
                                if (context.dataIndex === 17 && context.dataset.label == 'Demand') {
                                    return context.dataset.label || '';
                                }
                                if (ind == 0 && (lab == 'Pc' || lab == 'Pe' || lab == 'Pp')) {
                                    return lab;
                                }
                                if (ind == 1 && (lab == 'Qe' || lab == 'Qs')) {
                                    return lab;
                                }

                                if (context.dataset.label == "cb") {
                                    return 'Producer benefit'
                                }
                                if (context.dataset.label == "pb") {
                                    return 'Consumer benefit'
                                }
                                else {
                                    return ''
                                }
                            },
                            anchor: 'end',
                            align: 'left',
                            color: "#202020",
                            offset: 8,
                            font: {
                                size: '14px',
                                weight: 'bold',
                            }
                        },
                        legend: {
                            display: false
                        },

                    },
                    animation: {
                        duration: 300  // duration in milliseconds
                    },

                    scales: {
                        x: {
                            type: 'linear',
                            position: 'bottom',
                            min: -10,
                            max: 10,
                            ticks: {
                                display: false
                            },
                            title: {
                                display: true,
                                text: 'Quantity',
                                font: {
                                    size: 16
                                },
                            }
                        },
                        y: {
                            type: 'linear',
                            position: 'bottom',
                            min: -10,
                            max: 10,
                            ticks: {
                                display: false
                            },
                            title: {
                                padding: { bottom: 20 },
                                display: true,
                                text: 'Quantity',
                                font: {
                                    size: 16
                                },
                            }
                        }
                    }
                },
                plugins: [ChartDataLabels]
            });



            function updateLowerDotPosition(newX, newY) {
                // Update the data
                chart.data.datasets[3].data[0].x = newX;
                chart.data.datasets[3].data[0].y = newY + 5;
                chart.data.datasets[7].data[1][1] = newY + 5;
                chart.data.datasets[7].data[0][1] = newY + 5;
            

                chart.data.datasets[13].data[0][0] = newX ;
                chart.data.datasets[13].data[0][1] = newY + 5;
                chart.data.datasets[13].data[1][0] = newX;
                chart.data.datasets[13].data[1][1] = -10;

                chart.update();
            }


            // Update chart when sliders change
            function updateChart() {

                bValueLabel.textContent = bSlider.value;
                chart.data.datasets[0].data = generateDataDemand(parseFloat(bSlider.value));

                updateLowerDotPosition(generatePointCoord(), (generatePointCoord() * b));
                chart.update();

            }

            bSlider.addEventListener('input', updateChart);
            document.getElementById('resetButton').addEventListener('click', function () {

                document.getElementById('b-slider').value = 1;
                chart.data.datasets[0].data = generateDataDemand(parseFloat(bSlider.value));

                updateLowerDotPosition(-2.5, -2.5);
                chart.update();
            });
        </script>

    </div>
</div>

{% endblock %}