{% extends 'diagrams/base.html'  %}
{% block content %}





<div align = "center">

<h1> Business cycle </h1>





<div style="height: 800px; width: 600px;">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <canvas id="myChart" width="400" height="400"></canvas>
    <script>
    
    document.addEventListener('DOMContentLoaded', function() {
    var ctx = document.getElementById('myChart').getContext('2d');

    var xMin = -0.4;
    var xMax = 26.5;  
    var step = 0.01;
    var yMin = -3;
    var yMax = 7;

    // Function to calculate y values 
    function computeYValues(radius, xValues) {
        var yValues = [];
        for (var x of xValues) {
            yValues.push(Math.sin(x) + x/10 + 0.6);
        }
        return yValues;
    }

    // Initial values
    var xValues = [];
    for (var x = xMin; x <= xMax; x += step) {
        xValues.push(x);
    }
    var initialRadius = 1.5;
    var yValues = computeYValues(initialRadius, xValues);

    var chart = new Chart(ctx, {
        type: 'line',
        
        data: {
            labels: xValues,
            datasets: [{
                pointRadius: 0,
                label: 'y = sqrt(' + initialRadius + '^2 - x^2)',
                data: yValues,
                fill: false,
                borderColor: 'rgb(106, 143, 241)',
                tension: 0.1
            }]
        },
        options: {
            scales: {
                x: {
                    type: 'linear',
                    position: 'bottom',
                    min: xMin,
                    max: xMax
                },
                y:  {
                    min: yMin,
                    max: yMax,  // Adjust this if you expect larger radii
                }
            },

            animation: {
                duration: 300  // duration in milliseconds
            },
            plugins: [{
                afterDraw: function(chart) {
                var ctx = chart.ctx; // Get the canvas context
                var xAxis = chart.scales.x; // Get the x-axis
                var yAxis = chart.scales.y; // Get the y-axis

                var xValue = 5; // The x data value where you want the text
                var yValue = 10; // The y data value where you want the text

                var xPixel = xAxis.getPixelForValue(xValue); // Convert x data value to pixel value
                var yPixel = yAxis.getPixelForValue(yValue); // Convert y data value to pixel value
    

                ctx.save(); // Save the current state
                // ctx.font = '20px Arial'; // Set the font if needed
                // ctx.textAlign = 'center'; // Center the text on the x coordinate
                // ctx.textBaseline = 'middle'; // Center the text on the y coordinate
                ctx.fillText('lol kek', xPixel, yPixel); // Draw the text at the coordinate
                ctx.restore(); // Restore the saved state
    }
  }]
        }
    });
});

    </script>

</div>

{% endblock %}
